ansible-core>=2.15.13
ansible-lint>=4.12.2
black>=24.10.0 
boto3>=1.35.97
docker>=7.1.0
flask>=3.1.0
junit_xml>=1.9
kubernetes>=31.0.0
yamllint>=1.35.1
PyYAML>=6.0.2
pyautogui>=0.9.54
pytest>=8.3.4
requests>=2.32.3
